<main class="holder">
  <div class="contacto">

    <h2>administrador</h2>
    <form action="/admin/login" method="post" class="formulario">
      <p>
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" id="usuario" />
      </p>
      <p>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" />
      </p>

      <p class="centrar">
        <input type="submit" value="Enviar" />
      </p>
    </form>
    {{#if error}}
      <p>Usuario y/o contraseña incorrecto</p>
    {{/if}}

  </div>

</main>

{{! usuario mysql usuario:adminelectro   contaraseña:11111111  md5  para cifrar la clave }}