<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ElektrÖn</title>
    <!------link de las fuentes de google-------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="stylesheets/normalize.css" />
    <link rel="stylesheet" href="stylesheets/electron.css" />
  </head>
  <body>
    <header>
      <div class="logo holder">
        <img src="" width="100" alt="" />
        <h1>ElektrÖn</h1>
      </div>
    </header>

    <nav>
      <ul class="holder">
        <li><a href="/">Tv Audio y Video</a></li>
        <li><a href="/notbook_movil">Notbook y Celulares</a></li>
        <li><a href="/electrodomesticos">Electrodomesticos</a></li>
        <li><a href="/hogar">Hogar</a></li>
        <li><a href="/herramientas">Herramientas</a></li>
        <li><a href="/contacto">contacto</a></li>
      </ul>
    </nav>
    {{{body}}}
    <footer>
      <p>creado por cohorte6-26 2022</p>
    </footer>
  </body>
</html>