/*font-family: 'Open Sans', sans-serif;*/
/*:root {
  --azul: #051d3b;
  --blanco: #fafafa;
  --font-family: "Montserrat", sans-serif;
}
var(--azul)*/
:root {
  --green: #6dc7c7;
  --green2:#ace1e1 ;
  --celeste: #6da9ed;
  --hover: #6dc7c7;
  --gris: #ccc;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
}
header {
  background-color: var(--green);
  padding: 1px 0;
}
header h1 {
  color: var(--blanco);
  font-size: 2.5rm;
  font-weight: 100; /*hace mas fina la letra, lo sacamos de google font que vinculamos*/
  font-style: italic;
  display: inline-block; /*para poner al lado del logo*/
  position: relative; /*para poder variar el posicionamiento*/
  bottom: 35px; /*subo la palabra 35 px para que quede a la mitad del logo*/
}
nav {
  background-color: var(--green2);
  margin-bottom: 30px; /*separamos, le damos margen el nav de la imagen que esta dentro de main*/
}

nav ul {
  list-style: none; /*elimina los puntitos que pone adelante de las palabras*/
  margin: 0;
  padding: 0;
}
nav ul li {
  width: 16%;
  display: inline-block;
}
nav ul li a {
  color: var(--blanco);
  text-decoration: none; /*saca el subrrayado*/
  display: block;
  text-align: center;
  padding: 5px 0;
}
nav ul li a:hover {
  background-color: var(--hover);
}
nav ul li a.activo {
  background-color: var(--hover);
  /*esto es para poner el color para saber que se visito la pagina*/
}
footer {
  background-color: var(--green2);
  padding: 15px 0;
  text-align: center;
  clear: both; /*el elementto va de punta a punta, hace como si le pusieramos un enter */
}
.holder {
  max-width: 960px; /*para centrar el nav y todo el contenid0*/
  margin: 0 auto;
}



.contacto,
.redes {
  width: 50%;
  box-sizing: border-box;
}
/* .contacto { 
  float: left;
  display: flex;
  justify-content: center; 
  border-right: 2px solid var(--hover);
}  */
/* .redes {
  float: right;
  padding-left: 10px;
}  */

.formulario input,
.formulario textarea {
  /* background-color: var(--blanco); */
  border-radius: 5px;
  border: 2px solid var(--green);
  padding: 5px;
  width: 93%;
}
.formulario label {
  width: 22%;
  display: inline-block;
  vertical-align: top;
}

.formulario textarea {
  resize: none;
  height: 200px;
}
.formulario input[type="submit"] {
  width: auto;
  background-color: var(--green);
  color: var(--blanco);
  box-shadow: 0 0 5px var(--gris);
}
.centrar {
  text-align: center;
} 

/* .fas {
  font-size: 50px;
  color: var(--blue);
  border: solid 4px var(--celeste);
  border-radius: 50%;
}
.fab {
  font-size: 50px;
  color: var(--blue);
  border: solid 2px var(--celeste);
  border-radius: 50%;
}
.redes ul {
  list-style: none;
}
.redes ul li {
  margin-bottom: 20px;
} */
/*sugerencias*/
.holder-ofertas {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}
.sugerencia {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}
.caja {
  width: 200px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
}

.imgcaja {
  position: relative;
  width: 100%;
  height: 80px;
}
.imgcaja img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.texto {
  padding: 15px 0 5px;
}
.texto h3 {
  color: #111;
  text-align: center;
}
.texto h4,
p {
  color: #111;
  text-align: center;
}